.contact span,
.contact a {
  margin-left: 15px;
}

.contact a {
  color: white;
}

.contact-container {
  display: flex;
  gap: 25px;
}

.connect {
  display: flex;
  align-self: center;
  justify-self: end;
}

.map {
  border-left: solid 1.5px white;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
